@model Task_4.Models.RegistrationSession

@{
    ViewData["Title"] = "Крок 1: Введіть адресу";
}
<h2>Крок 1: Введіть адресу</h2>
<form method="post">
    <input type="text" name="Address" class="form-control" placeholder="Ваша адреса">
    <button type="submit" class="btn btn-primary mt-2">Далі</button>
</form>

