@model Task_4.Models.RegistrationSession

@{
    ViewData["Title"] = "Крок 3: Введіть логін";
}
<h2>Крок 3: Введіть логін</h2>
<form method="post">
    <input type="text" name="Login" class="form-control" placeholder="Ваш логін">
    <button type="submit" class="btn btn-primary mt-2">Далі</button>
</form>
