@{
    ViewData["Title"] = "Сторінка 3";
    Layout = "_Layout";
}

<h2>Сторінка 3</h2>

<!-- Посилання для переходу між сторінками -->
<a class="btn btn-primary m-2" href="/Page2">Перехід до Сторінки 2</a>
