@{
    ViewData["Title"] = "Side 2";
}
<div class="container">
    <h2>Введіть сторону 2</h2>
    <form method="post" action="/Side2/SaveSide">
        <input type="number" name="side2" required />
        <button type="submit">Далі</button>
    </form>
</div>
