@model Task_7.Models.User

@{
    ViewData["Title"] = "Результат пошуку";
}

<h2>Інформація про акаунт</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Логін</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Login</td>
            <td>@Model.Email</td>
        </tr>
    </tbody>
</table>

<a href="@Url.Action("Index", "Address")" class="btn btn-secondary">Повернутись</a>  