@{
    ViewData["Title"] = "Сторінка 1";
    Layout = "_Layout";
}

<h2>Сторінка 1</h2>

<!-- Посилання для переходу між сторінками -->
<a class="btn btn-primary m-2" href="/Page3">Перехід до Сторінки 3</a>
<a class="btn btn-primary m-2" href="/Page4">Перехід до Сторінки 4</a>
