@{
    ViewData["Title"] = "Side 3";
}
<div class="container">
    <h2>Введіть сторону 3</h2>
    <form method="post" action="/Side3/SaveSide">
        <input type="number" name="side3" required />
        <button type="submit">Далі</button>
    </form>
</div>
