@model Task_4.Models.RegistrationSession

@{
    ViewData["Title"] = "Крок 2: Введіть пароль";
}
<h2>Крок 2: Введіть пароль</h2>
<form method="post">
    <input type="password" name="password" class="form-control" placeholder="Ваш пароль">
    <button type="submit" class="btn btn-primary mt-2">Далі</button>
</form>
