@model Task_4.Models.RegistrationSession

@{
    ViewData["Title"] = "Крок 4: Введіть email";
}
<h2>Крок 4: Введіть email</h2>
<form method="post">
    <input type="email" name="Email" class="form-control" placeholder="Ваш email">
    <button type="submit" class="btn btn-success mt-2">Завершити реєстрацію</button>
</form>
